body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}

/* Sticky Navigation */
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #264653;
  color: white;
  padding: 1em;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s, transform 0.3s; /* Add transform to the transition */
    font-size: 1.2em; /* Increase font size */

    &:hover {
      color: #00bcd4; /* Change color on hover */
      animation: hover-move-up-down 1.8s ease-in-out infinite;
    }
  }
}
/* Keyframes for smooth, continuous up-and-down movement */
@keyframes hover-move-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
}
/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  /* Ensure the height includes space for both SVGs */
  min-height: 150vh; /* Adjust this value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .top-svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottom-svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .model-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%; /* Adjust the width so it covers the left side of the page */
    height: 100%;
    z-index: 1; /* Ensures model-viewer is under the text */
  }

  .video-background {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .hero-text {
    z-index: 2;
    color: white;
    position: absolute;
    right: 5%; /* Adjust as needed */
    text-align: right;

    h1 {
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 2em;
      font-weight: lighter;
      margin-bottom: 0.2em;
    }

    p {
      font-size: 1.5em;
      font-weight: lighter;
      opacity: 0.8;
    }
  }
}

/* Information Section */
.info-section {
  background-color: #264653;

  background-size: cover;
  background-position: center;
  padding: 4em;
  text-align: center;

  .info-content {
    background-color: #533226;
    padding: 2em;
    border-radius: 10px;
    max-width: 85vw;
    margin: auto;

    h2 {
      font-size: 2.5em;
      color: wheat;
      margin-bottom: 1em;
    }

    .info-box {
      background-color: #f0ede5;
      padding: 1em;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      p {
        color: #666;
        font-size: 1.2em;
        text-align: left;
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-text,
  .info-content {
    padding: 5em;
    h1,
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
}
