body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}

/* Sticky Navigation */
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #264653;
  color: white;
  padding: 1em;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sticky-nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  transition: color 0.3s, transform 0.3s; /* Add transform to the transition */
  font-size: 1.2em; /* Increase font size */
}
.sticky-nav a:hover {
  color: #00bcd4; /* Change color on hover */
  animation: hover-move-up-down 1.8s ease-in-out infinite;
}

/* Keyframes for smooth, continuous up-and-down movement */
@keyframes hover-move-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
}
/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  /* Ensure the height includes space for both SVGs */
  min-height: 120vh; /* Adjust this value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-section .top-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.hero-section .bottom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-section .model-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%; /* Adjust the width so it covers the left side of the page */
  height: 100%;
  z-index: 1; /* Ensures model-viewer is under the text */
}
.hero-section .video-background {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero-section .hero-text {
  z-index: 2;
  color: white;
  position: absolute;
  right: 5%; /* Adjust as needed */
  text-align: right;
}
.hero-section .hero-text h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.hero-section .hero-text h2 {
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 0.2em;
}
.hero-section .hero-text p {
  font-size: 1.5em;
  font-weight: lighter;
  opacity: 0.8;
}

/* Information Section */
.info-section {
  background-color: #264653;
  background-size: cover;
  background-position: center;
  padding: 4em;
  text-align: center;
}
.info-section .info-content {
  background-color: #533226;
  padding: 2em;
  border-radius: 10px;
  max-width: 85vw;
  margin: auto;
}
.info-section .info-content h2 {
  font-size: 2.5em;
  color: wheat;
  margin-bottom: 1em;
}
.info-section .info-content .info-box {
  background-color: #f0ede5;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info-section .info-content .info-box p {
  color: #666;
  font-size: 1.2em;
  text-align: left;
}

/* Image Upload Section */
.image-upload-section {
  position: relative;
  text-align: center;
  padding: 2em 1em; /* Adjusted padding for smaller screens */
  background-color: #264653;
}
.image-upload-section .bottom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%; /* Full width */
}
.image-upload-section .upload-container {
  margin-bottom: 1em;
}
.image-upload-section .upload-container h2 {
  font-size: 2em; /* Adjusted for smaller screens */
  color: #fffdd0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.image-upload-section .upload-container input[type=file],
.image-upload-section .upload-container button {
  margin: 0.5em;
  font-size: 1em; /* Adjusted for smaller screens */
}
.image-upload-section .upload-container button {
  background-color: #1e3640;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}
.image-upload-section .upload-container button:hover {
  background-color: #162830;
}
.image-upload-section .upload-container,
.image-upload-section .result-container {
  position: relative; /* Add position relative */
  z-index: 2; /* Higher z-index to be on top of the .bottom-svg */
}
.image-upload-section .result-container img {
  max-width: 100%; /* Ensures image is responsive */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
}
.image-upload-section .result-container p {
  color: #c04000;
  font-size: 1.5em; /* Adjusted for smaller screens */
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .image-upload-section .upload-container h2 {
    font-size: 1.5em; /* Smaller font size for very small screens */
  }
  .image-upload-section .result-container p {
    font-size: 1.2em; /* Smaller font size for very small screens */
  }
}
/* Hatching Section */
.hatching-section {
  position: relative;
  background: linear-gradient(to bottom, #f7e4a3 0%, #f9d77e 100%); /* Sand-like gradient */
  padding: 4em 0;
  text-align: center;
}
.hatching-section .top-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hatching-section .bottom-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.hatching-section .hatching-content {
  position: relative;
  z-index: 2; /* This ensures the content is above the SVG */
}
.hatching-section .hatching-title {
  font-size: 5em;
  color: #fffdd0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional: Adds a subtle shadow for depth */
  margin-bottom: 0.05em; /* Space below the title */
  z-index: 2; /* Optional: Sends SVG to the back */
}
.hatching-section .hatching-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  /* Ensure the height includes space for both SVGs */
  min-height: 130vh; /* Adjust this value as needed */
}
.hatching-section .hatching-container .hatching-box {
  width: 20em; /* Set the width of the boxes */
  height: 20em; /* Set the height of the boxes */
  margin: 1em;
  transition: transform 0.5s ease-out;
}
.hatching-section .hatching-container .hatching-box .hatchling-description {
  color: black;
  font-size: 1em;
  margin-top: 10px;
  text-align: center;
}
.hatching-section .hatching-container .hatching-box:hover {
  transform: translateY(-10px); /* Move up on hover */
}
.hatching-section .hatching-container .hatching-box img {
  width: 100%;
  height: auto;
  display: block; /* Removes extra space below the image */
  border-radius: 10px; /* Optional: rounds the corners of the images */
}

/* Predators Section */
.predators-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  background-color: #264653;
}
.predators-section .predator-text-container,
.predators-section .predator-image-container {
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.predators-section .predator-text-container {
  overflow-y: auto;
  max-height: 400px;
  padding: 1em;
  background-color: #f0ede5;
}
.predators-section .predator-image-container img {
  width: 100%;
  border-radius: 10px;
}

.project-section {
  padding: 3em;
  background-color: #264653;
}
.project-section .project-header {
  text-align: center;
  margin-bottom: 2em;
}
.project-section .project-header .section-title {
  font-size: 5em;
  color: #fffdd0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.project-section .project-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.project-section .project-body .project-image {
  flex-basis: calc(50% - 1em);
  margin-bottom: 1em;
}
.project-section .project-body .project-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-section .project-body .project-text {
  flex-basis: calc(50% - 1em);
}
.project-section .project-body .project-text h3 {
  font-size: 2em;
  color: #2a9d8f;
  margin-bottom: 0.5em;
}
.project-section .project-body .project-text p {
  color: #fffdd0;
  font-size: 1.1em;
  line-height: 1.6;
}

.gallery {
  background: linear-gradient(to bottom, #f7e4a3 0%, #f9d77e 100%);
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/5;
  grid-column: 1/3;
}
.gallery__item--2 {
  grid-row: 1/4;
  grid-column: 3/5;
}
.gallery__item--3 {
  grid-row: 1/3;
  grid-column: 5/7;
}
.gallery__item--4 {
  grid-row: 1/4;
  grid-column: 7/9;
}
.gallery__item--5 {
  grid-row: 5/8;
  grid-column: 1/3;
}
.gallery__item--6 {
  grid-row: 4/8;
  grid-column: 3/5;
}
.gallery__item--7 {
  grid-row: 3/8;
  grid-column: 5/7;
}
.gallery__item--8 {
  grid-row: 4/8;
  grid-column: 7/9;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.5s ease-out;
}
.gallery__img:hover {
  transform: scale(1.2);
}

.site-footer {
  background-color: #f9d77e;
  color: #264653;
  padding: 2em;
  text-align: center;
}
.site-footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.site-footer .footer-content .footer-nav a {
  color: #264653;
  text-decoration: none;
  margin: 0 1em;
}
.site-footer .footer-content .footer-nav a:hover {
  color: #2a9d8f;
}
.site-footer .footer-content .footer-info {
  margin: 1em 0;
}

@media (max-width: 1020px) {
  .hero-section .model-viewer {
    left: auto;
    width: 84%;
  }
  .hero-section .hero-text {
    /* Updated positioning and animation styles */
    top: 10%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust the width as needed */
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 0.5s; /* Delay before the text starts appearing */
  }
  .hero-section .hero-text h1 {
    font-size: 3em; /* Adjust font size for smaller screens */
  }
  .hero-section .hero-text h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
  .hero-section .hero-text p {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
  .info-section {
    padding: 2em; /* Reduced padding for smaller screens */
  }
  .info-section .info-content {
    padding: 1em; /* Reduced padding for smaller content area */
    max-width: 95vw; /* Increase max-width for better use of space */
  }
  .info-section .info-content h2 {
    font-size: 2em; /* Smaller font size for the heading */
  }
  .info-section .info-content .info-box {
    padding: 0.8em; /* Reduced padding inside the info box */
  }
  .info-section .info-content .info-box p {
    font-size: 1em; /* Smaller font size for the paragraph */
    line-height: 1.6; /* Improved line spacing for readability */
  }
  .hatching-section .hatching-title {
    font-size: 4em;
  }
  .project-section .project-body {
    flex-direction: column;
  }
  .project-section .project-body .project-image,
  .project-section .project-body .project-text {
    flex-basis: 100%;
  }
}
/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .site-footer .footer-content {
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    padding: 1rem;
  }
  .gallery__item--1, .gallery__item--2, .gallery__item--3, .gallery__item--4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery__item--5, .gallery__item--6, .gallery__item--7, .gallery__item--8 {
    grid-column: span 2;
    grid-row: span 2;
  }
}
/* Responsive Design for Hatching Section */
@media (max-width: 1400px) {
  .hatching-section .hatching-container {
    flex-direction: column;
  }
  .hatching-container {
    min-height: 150vh;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  .hatching-section .hatching-container .hatching-box {
    width: 150px;
    height: 150px;
  }
  .hero-text,
  .info-content {
    padding: 5em;
  }
  .hero-text h1,
  .hero-text h2,
  .info-content h1,
  .info-content h2 {
    font-size: 2em;
  }
  .hero-text p,
  .info-content p {
    font-size: 1em;
  }
}
@media only screen and (max-width: 400px) {
  /* Adjust hero section as needed */
  .hero-section {
    position: relative;
    min-height: 65vh; /* Adjust the hero section's minimum height as needed */
  }
  .hero-text h1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -80%); /* Adjust position to be centered */
  }
  .hero-text h2,
  .hero-text p {
    display: none;
  }
  /* Modern look for the info section */
  .info-section {
    font-size: 0.8em;
    padding: 0.5em;
  }
  .predators-section {
    flex-direction: column;
    align-items: stretch; /* Stretch items to fill the container width */
  }
  .predators-section .predator-text-container,
  .predators-section .predator-image-container {
    width: 100%; /* Full width for small screens */
    margin-bottom: 1em; /* Add space between the image and text containers */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  .predators-section .predator-text-container {
    order: 2; /* Ensure text appears below the image */
    max-height: none; /* Remove max-height restriction for small screens */
    overflow-y: visible; /* Since we're no longer restricting height, we don't need to scroll */
  }
  .predators-section .predator-image-container {
    order: 1; /* Ensure image appears above the text */
  }
  .project-section .project-header .section-title {
    font-size: 2em;
  }
}/*# sourceMappingURL=style.css.map */